details{
    border-radius: 1em;
    background: #F7F7F7;
    color: #FF6060;
    flex:1;
    min-width: 250px;
    width: clamp(200px,500px, 100vw);
    display: block;
    // width: 100%;
}

details:hover summary {
    background: #7e2222;

}

summary {
    border-radius: 1em;
    background: #FF6060;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

summary::marker {
  content: "";
}

details:not([open]) {
}

details[open] {
    // padding: 1em;
}

p {
    padding: 1em;
}

summary :nth-child(3) {
    display: none;
}

details[open] summary :nth-child(2) {
    display: none;
}
details[open] summary :nth-child(3) {
    display: block;
}
details summary {
    transition: margin 150ms ease-out;
  }

details[open] summary {
    margin-bottom: 10px;
  }

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; transform: translateX(-10px);}
    100%  {opacity: 1; transform: translateX(0);}
}