.location_img {
    max-width: 800px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 1em;
}

.host_img {
    max-width: 800px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 50%;
}