#location {
    // align-items: normal;
}

.location_img {
    width: clamp(200px, 800px, 100vw);
    max-height: 400px;
    object-fit: cover;
    border-radius: 1em;
}

.host_img {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

h2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
}